name: Controllo automatico README

on: [push]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Controlla se README contiene la parola Actions
        run: |
          grep -q "Actions" README.md
